@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  --custom-gray: #78909C;
  --dm-sans: "DM Sans", sans-serif;
  --rajdhani: "Rajdhani", sans-serif;
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
  --custom-green-1: #00897B;
  --custom-blue-1: #0277BD;
  --custom-blue-2: #007DFC;
  --custom-red-light: #FF6B6B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-green-1: var(--custom-green-1);
  --color-custom-blue-1: var(--custom-blue-1);
  --color-custom-blue-2: var(--custom-blue-2);
  --color-custom-red-light: var(--custom-red-light);
  --color-custom-gray: var(--custom-gray);
  --font-dm-sans: var(--dm-sans);
  --font-radjdhani: var(--rajdhani);
  --font-inter: var(--inter);
  --font-poppins: var(--poppins);
  --spacing-c-10: 10px;
  --spacing-c-20: 20px;
  --spacing-c-30: 30px;
  --spacing-c-32: 32px;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--dm-sans);
}

.custom-linear-gradient-blue {
  background: linear-gradient(360deg, #0277BD 0%, #0277BD 100%);
}

.custom-linear-gradient-white {
  background: linear-gradient(180deg, #F7F7F7 0%, #F5F5F5 100%);
}

.custom-linear-gradient-gray {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F0 100%);
}

.custom-translate-center {
  /* top: 0; */
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-num {
  font-size: 140px;
}

.my-button {
  @apply flex items-center gap-2 px-6 py-3 rounded-full transition-all cursor-pointer bg-[#222222] text-white capitalize;
}

/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
